{% extends 'base.html' %}

{% block content %}
    <div>
        <label class="col-sm-2 control-label">Статус:</label>
        <select class="form-control" id="statusId">
            <option value="">Все статусы</option>
            {% for status in statuses %}
                <option value="{{ status.id }}">{{ status.name }}</option>
            {% endfor %}
        </select>
        <button id="btnSearch">Показать</button>
        <button id="btnAdd">Добавить</button>
    </div>
    <div id="newCard" style="margin: 20px; display: none;">
        {#    <div id="newCard" style="margin: 20px;">#}
        <div class="form-group">
            <label class="col-sm-2 control-label">Серия:</label>

            <div class="col-sm-5">
                <input class="form-control" id="series" type="text" value="2">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Номер:</label>

            <div class="col-sm-5">
                <input class="form-control" id="number" type="text" value="2">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Дата выпуска:</label>

            <div class="col-sm-5">
                <input class="form-control" id="issueDate" type="text" value="16.12.2020">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Дата окончания активности:</label>

            <div class="col-sm-5">
                <input class="form-control" id="expireDate" type="text" value="16.12.2020">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Статус:</label>

            <div class="col-sm-5">
                <select class="form-control" id="status" name="status">
                    {% for status in statuses %}
                        <option value="{{ status.id }}">{{ status.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <button id="btnSave">Сохранить</button>
        </div>
    </div>
    <div id="list">
        <table class="table table-condensed table-striped">
            <th>Cерия</th>
            <th>Номер</th>
            <th>Дата выпуска</th>
            <th>Дата окончания активности</th>
            <th>Статус</th>
            <th></th>
            {% for c in cards %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.number }}</td>
                    <td>{{ c.issue_date }}</td>
                    <td>{{ c.expire_date }}</td>
                    <td>{{ c.status }}</td>
                    <td>
                        <button class="delete" cardId="{{ c.id }}">Удалить</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block footerscript %}
    <script>
      $(document).ready(function () {
        $("#btnAdd").click(function () {
          $("#newCard").show();
          clear();
        });

        $(".delete").click(function () {
          if (confirm("Вы хотите удалить карту?")) {
            $.ajax({
              type: "POST",
              url: "/card/delete/",
              data: {
                id: $(this).attr("cardId")
              },
              success: function (resp) {
                $('#list').html(resp.html);
              },
              failure: function () {

              }
            });
          }
        });

        $("#btnSearch").click(function () {
          $("#list").html('');
          $.ajax({
            type: "POST",
            url: "/card/search/",
            data: {
              status: $('#statusId').val(),
            },
            success: function (resp) {
              $('#list').html(resp.html);
            },
            failure: function () {

            }
          });
        });

        $("#btnSave").click(function () {
          $.ajax({
            type: "POST",
            url: "/card/add/",
            data: {
              series: $('#series').val(),
              number: $('#number').val(),
              issue_date: $('#issueDate').val(),
              expire_date: $('#expireDate').val(),
              status: $('#status').val(),
            },
            success: function (resp) {
              $('#list').html(resp.html);
              $("#newCard").hide();
              clear();
            },
            failure: function () {

            }
          });
        });

        function clear() {
          $('#series').val('');
          $('#number').val('');
          $('#issueDate').val('');
          $('#expireDate').val('');
        }
      })

    </script>
{% endblock %}
