<table class="table table-condensed table-striped">
    <th>Cерия</th>
    <th>Номер</th>
    <th>Дата выпуска</th>
    <th>Дата окончания активности</th>
    <th>Статус</th>
    <th></th>
    {% for c in cards %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.number }}</td>
            <td>{{ c.issue_date }}</td>
            <td>{{ c.expire_date }}</td>
            <td>{{ c.status }}</td>
            <td>
                <button class="delete" cardId="{{ c.id }}">Удалить</button>
            </td>
        </tr>
    {% endfor %}
</table>

{% block footerscript %}
    <script>
      $(document).ready(function () {
        $(".delete").click(function () {
          if (confirm("Вы хотите удалить карту?")) {
            $.ajax({
              type: "POST",
              url: "/card/delete/",
              data: {
                id: $(this).attr("cardId")
              },
              success: function (resp) {
                $('#list').html(resp.html);
              },
              failure: function () {

              }
            });
          }
        });
      })

    </script>
{% endblock %}
